.neuton{
	font-family: "Neuton";
}
.xlight{
	font-weight: 200;
}
.light{
	font-weight: 300;
}
.orange-text{
	color: #fba62f;
}
.orange{
	background-color: #FCA62F;
}
.red{
	background-color: #da5a35;
}
.aqua{
	background-color: #76aa9b;
}
.blue{
	background-color: #597293;
}
.blue-text{
	color: #597293;
}
.navy{
	background-color: #3B5578;
}
.dark-grey{
	color: #4b515f;
}
.dark-grey-text{
	color: #4C4D4F;
}
.light-grey{
	background-color: #fbfbfb;
}
.light-grey-text{
	color: #fbfbfb;
}
.med-grey-text{
	color: #939598;
}
