.hero{
	background-image: url("../images/city.jpg");
	background-size: 200%;
	height: 330px;
	text-align: center;
}
.overlay{
	opacity: 0.9;
	width: 100%;
	position: absolute;
}
.hero-overlay{
	height: 330px;
	max-width: 1100px;
}
.hero-text-container{
	width: 40%;
	max-width: 1100px;
	color: #4b515f;
    margin: 0 30%;
    padding-top: 70px;
	position: relative;
}
.hero-text{
	font-size: 28px;
}
.bar{
	width: 150px;
}
.hero-subtext{
	font-size: 16px;
}
/*=================================    SUB-HERO */

.sub-hero-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.sub-hero{
	height: 360px;
	width: 50%;
	max-width: 542.5px;
}
.sub-hero-left{
	background-image: url("../images/bear.jpg");
	background-position-x: -112px;
	background-size: 138%;
}
.sub-hero-right{
	background-image: url("../images/hot-air-balloon.jpg");
	background-position-y: -100px;
	background-position-x: -139px;
	background-size: 181%;
}
.sub-hero-overlay{
	height: 360px;
	opacity: 0.9;
	width: 50%;
	max-width: 542.5px;
}

.sub-hero-text-container{
	padding: 30px;
	padding-top: 70px;
	text-align: center;
	position: absolute;
	z-index: 2;
	max-width: 542.5px;
	width: 50%;
}
.sub-hero-title{
	font-size: 25px;
}
.sub-hero-text{
	margin-top: 50px;
	min-width: 260px;
	min-height: 70px;
}
.sub-hero, .sub-hero-text-container, .sub-hero-overlay{
	min-width: 310px;
}
.btn{
	font-family: Times;
	font-size: 20px;
	padding: 10px 20px;
	width: 140px;
	margin: auto;
}

@media all and (max-width: 886px){
	.hero-text-container{
		padding-top: 5vh;
	}
	h1{
		margin: 5px;
	}
	.sub-hero-text-container{
		padding-top: 55px;
	}
	.sub-hero-text{
		margin-top: 20px;
	}

}

@media all and (min-width: 320px) and (max-width: 800px){
	.hero-text-container{
		width: 70%;
		margin: 0 15%;
	}
	.sub-hero-right{
		background-position-y: -100px;
		background-position-x: -249px;
		background-size: 240%;
	}
	.sub-hero-left{
		background-position-x: -85px;
		background-size: 140%;
	}
	.sub-hero, .sub-hero-overlay, .sub-hero{
		height: 289px;
	}
	.sub-hero-text-container{
		padding: 20px 10px;
	}
	.sub-hero-text-container h2{
		font-size: 20px;
	}
}

@media all and (min-width: 450px) and (max-width: 650px){
	.sub-hero, .sub-hero-text-container, .sub-hero-overlay{
		width: 100%;
		height: 400px;
	}
	.sub-hero-left{
		background-position-x: -142px;
	    background-size: 139%;
	}
	.sub-hero-right{
		background-position-y: 0;
		background-position-x: -95px;
		background-size: 152%;
	}
	.sub-hero-text-container h2{
		font-size: 25px;
	}
}
@media all and (min-width: 320px) and (max-width: 450px){
	.sub-hero, .sub-hero-text-container, .sub-hero-overlay{
		width: 100%;
		height: 300px;
	}
	.sub-hero-left{
		background-position-x: -100px;
	    background-size: 139%;
	}
	.sub-hero-right{
		background-position-y: 0;
		background-position-x: -95px;
		background-size: 152%;
	}
	.sub-hero-text-container h2{
		font-size: 25px;
	}
}
