*{
	box-sizing: border-box;
}
body{
	background-color: #fbfbfb;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

/*=================================    FONTS AND COLORS */

.neuton{
	font-family: "Neuton";
}
.xlight{
	font-weight: 200;
}
.light{
	font-weight: 300;
}
.orange-text{
	color: #fba62f;
}
.orange{
	background-color: #FCA62F;
}
.red{
	background-color: #da5a35;
}
.aqua{
	background-color: #76aa9b;
}
.blue{
	background-color: #597293;
}
.blue-text{
	color: #597293;
}
.navy{
	background-color: #3B5578;
}
.dark-grey{
	color: #4b515f;
}
.dark-grey-text{
	color: #4C4D4F;
}
.light-grey{
	background-color: #fbfbfb;
}
.light-grey-text{
	color: #fbfbfb;
}
.med-grey-text{
	color: #939598;
}

/*=================================    HEADER */

.header{}
.header-top{
	display: flex;
}
.logo{
	text-transform: uppercase;
	width: 35%;
	font-size: 24px;
	padding: 30px 0 30px 35px;
}
.nav{
	width: 60%;
    margin-left: 10%;
    margin-right: 3%;
}
.nav-list{
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-left: 0;
	font-size: 10px;
}
.nav-item{
	padding-left: 15px;
	list-style: none;
}
.nav-item a{
	text-decoration: none;

}
.border-bar-container{
	display: flex;
}
.border-bar{
	height: 8px;
	width: calc(100% / 9);
}

/*=================================    HERO */

.hero{
	background-image: url("images/city.jpg");
	background-size: 200%;
	height: 330px;
	text-align: center;
}
.overlay{
	opacity: 0.9;
	width: 100%;
	position: absolute;
}
.hero-overlay{
	height: 430px;
}
.hero-text-container{
	width: 40%;
	color: #4b515f;
    margin: 0 30%;
    padding-top: 70px;
	position: absolute;
}
.hero-text{
	font-size: 28px;
}
.bar{
	width: 150px;
}
.hero-subtext{
	font-size: 16px;
}
/*=================================    SUB-HERO */

.sub-hero-container{
	display: flex;
	justify-content: center;
}
.sub-hero{
	height: 360px;
	width: 50%;
}
.sub-hero-left{
	background-image: url("images/bear.jpg");
	background-position-x: -70px;
	background-size: 115%;
}
.sub-hero-right{
	background-image: url("images/hot-air-balloon.jpg");
	background-position-y: -100px;
	background-position-x: -80px;
	background-size: 140%;
}
.sub-hero-overlay{
	height: 360px;
	opacity: 0.9;
	width: 50%;
}

.sub-hero-text-container{
	padding: 30px;
	padding-top: 70px;
	text-align: center;
	position: absolute;
	z-index: 2;
	width: 50%;
}
.sub-hero-title{
	font-size: 25px;
}
.sub-hero-text{
	margin-top: 50px;
}
.btn{
	font-family: Times;
	font-size: 20px;
	padding: 10px 20px;
	width: 140px;
	margin: auto;
}
/*=================================    ARTICLES */
.articles-container{
	display: flex;
	justify-content: space-around;
	margin: 0 30px;
}
.articles-header{
	display: flex;
	justify-content: flex-start;
}
.articles-header h4{
	margin-left: 33px;
}
.view-all-link{
	margin-left: 62%;
	padding-top: 30px;
	font-size: 12px;
	text-decoration: none;
}
.article-container{
	margin: 10px;
}
.article{
	margin: 0;
	height: 360px;
	border: 1px solid lightgrey;
}
.article-figure{
	margin: 10px 15px;
}
.article-pics{
	background-size: cover;
	width: 230px;
	height: 140px;
	margin: 10px auto;
}
.article-pic1{
	background-image: url("images/new-york.jpg");
}
.article-pic2{
	background-image: url("images/cliff.jpg");
}
.article-pic3{
	background-image: url("images/street.jpg");
}
.article-caption{
	height: 70px;
}
.article-preview{
	margin: 12px;
	margin-left: 14px;
	height: 80px;
}
.article-btns{
	width: 100%;
	text-align: center;
}
form{
	height: 600px;
    background-color: lightgrey;
    padding: 30px;
}
.form-inputs{
	padding: 30px 0 0 60px;
	display: flex;
	flex-wrap: wrap;
}
.form-basics{
	width: 40%;
}
.form-message{
	margin-left: 23px;
	width: 57%;
}
.form-message textarea{
	height: 239px;
	font-size: 28px;
	width: 445px;
}
.form-inputs div label{
	display: block;
	margin: 20px 0;
	text-transform: uppercase;
}
.form-inputs div input{
	width: 100%;
	font-size: 30px;
}
.form-btn{
	margin-right: 0;
	margin-top: 16px;
	text-align: center;
	width: 250px;
}

/*=================================    FOOTER */

.footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-top{
	margin: 0;
	height: 100px;
}

.footer-nav{
	width: 53%;
	margin-right: 4%;
}
.footer-links{}

.footer-contact{
	color: #597293;
	border-top: 1px solid #597293;
	margin-top: -16px;
}
.contact-info{

}
